{% extends "base.html" %}
{% block content %}
<div class=row >
	<div class="large-12 columns">
		<div class="panel">
		<h1> Our Privacy and Security Policy</h1>
		</div>
			<div class="large-10 columns text-left">
			<p>
			This privacy and security policy (<b>“Policy”</b>) explains the accepted privacy practices of Pava Inc. (<b>"Pava"</b>, <b>"we"</b>, <b>"us"</b> or <b>"our"</b>) for (i) our website www.pavawith.me</a> (the <b>"Website"</b>); (ii) any Pava mobile software application that we license (each an <b>"App"</b>); and (iii) the personal finance security service which we make available to our users via the Website and/or App (the “Service”), and describes the ways we collect and use your Personal Information (defined below) and the rights and options available to you with respect this information. This Policy is incorporated into, as applicable, Pava's WebsiteTerms of Use (the <b>"Terms of Use"</b>) and Pava’s App end user license agreement (<b>“EULA”</b>). Unless the Website, App or Service is separately referred to in this Policy, all references herein to the "Services" shall include the Website, the App and the Service.
			We reserve the right, at our discretion, to change this Privacy Policy at any time. Such change will be effective ten (10) days following posting of the revised Privacy Policy on the Website and/or App. You agree to be bound by any of the changes made in the terms of this Policy. Continuing to use the Services ten (10) days after any changes to this Policy are posted will indicate your acceptance of the amended terms. If you do not agree with any of the amended terms, you must avoid any further use of the Services.
			<ol>
			<li><b>Personal Information that you provide</b>
			<ol>
			<li>While some areas of the Services may not require registration or any other form of identification, other parts may. Consequently, when you register with Pava, we may ask you to provide certain personal details such as your name, e-mail address, date of birth, zip code, and further optional information. <b>"Personal Information"</b> means any information that may be used, either alone or in combination with other information, to personally identify an individual, including, but not limited to, a first and last name, a personal profile, an email address, or other contact information.</li>
			<li>In addition, and in order for Pava to scan your credit card and/or debit card statements, you will need to provide us with your third party account credentials. This information includes the credentials asked by your financial institution, your financial institutions' name and your credit and/or debit card names. We keep your Personal Information in strict confidentiality and we will only such use information to provide you with the requested Services.</li>
			<li>We may collect your financial Personal Information through the services of a third party that will assist us in providing you with our Services, in which case you acknowledge and agree to review and be bound by the terms of use and privacy policy of said third party service provider.</li>
			</ol>
			</li>

			<li>In addition to the Personal Information you provide, we may further collect information when you use the Services. For example, this information may include the frequency and scope of your use of the Services, transactions that you made, the Internet protocol (IP) address, or mobile device ID, and the name of the domain that serves you to access the Services, your browser type and the geographic location of the computer system or mobile device (as described in further detail below) that you are using to log-in to the Services.</li>
			<li>Certain location-based services that we may provide (<b>"Location Services"</b>) in connection with the App are dependent on data related to the geographic location of the mobile device on which the App is installed (<b>"Location Data"</b>). If you choose to participate in these Location Services, you agree that we may collect or obtain Location Data from you.</li>
			</ol>
			</li>
			<li><b>What do we do with your personally identifiable information?</b><br/>
			Your privacy is our priority. We will not sell, trade or lease your personally identifiable information. We may use your personally identifiable information for the following purposes only:
			<ol>
			<li>to enable you to use the Services;</li>
			<li>to improve and customize your experience on the Website and/or App;</li>
			<li>to retrieve your credit card statements and information regarding your transactions as agreed by you.</li>
			<li>to provide you with support, handle complaints and collect fees and to conduct administrative activities necessary to maintain and provide our Services;</li>
			<li>to send you Services-related updates, notices and announcements;</li>
			<li>to provide you with information related to the Services;</li>
			<li>to conduct surveys and questionnaires;</li>
			<li>to enforce Pava's Terms of Use and/or EULA;</li>
			<li>to contact you regarding service and administration related issues as and when Pava believes it to be necessary;</li>
			<li>to comply with any applicable law and assist law enforcement agencies under any applicable law, when Pava has good faith to believe that Pava's cooperation with the law enforcement agencies is legally mandated or meets the applicable legal standards;</li>
			<li>to prevent fraud, misappropriation, infringements, identity theft and other illegal activities and misuse of the Services;</li>
			<li>to take any action in any case of dispute, or legal proceeding of any kind between you and Pava, or between you and any other third parties or users with respect to, or in relation with the Services;</li>
			<li>to provide Yodlee with your login details in order to allow them to retrieve the information as further described here above.</li>
			</ol>
			</li>
			<li><b>How do we use aggregated information?</b><br/>
			We may use anonymous, statistical or aggregated information collected on or through the use of the Services. We may also use anonymous, statistical or aggregated information to properly operate the Services, to improve the quality of the Services, to enhance your experience, to create new services and features, including customized services, to change or cancel existing content or service, for further internal, commercial and statistical purposes.
			</li>
			<li><b>Sharing information with others</b>
			<ol>
			<li>We do not sell, rent or lease your personally identifiable information to third parties for any of their marketing purposes.</li>
			<li>We may share Personal Information with others in any of the following instances, or subject to your explicit consent:
			<ol>
			<li>To operate the Website, App and Service, and their respective services, and to enable you to use them; we will share your Personal Information with third parties to the extent required to operate our Services and to facilitate your use of them. Thus for example, we will provide Yodlee with your login details in order for them to retrieve the necessary information;</li>
			<li>We may share your information with third parties for analysis purposes in the hopes of better improving our Services;</li>
			<li>If we reasonably believe that you have breached Pava's Terms of Use or EULA, or abused your rights to use any of the Services, or performed any act or omission that we reasonably believe to be violating any applicable laws, rules, or regulations. We may share your information in these cases, with law enforcement and other competent authorities and with any third party, as may be required to handle any result of your wrongdoing;</li>
			<li>If we are required, or reasonably believe to be required by law to share or disclose your information;</li>
			<li>In any case of dispute, or legal proceeding of any kind between you and us or between you and any other third parties and/or users with respect to, or in relation with any of the Services;</li>
			<li>In any case where we reasonably believe that sharing information is necessary to prevent imminent harm to an individual or physical damage or damage to property;</li>
			<li>If we organize the operation of any of our Services within a different framework, or through another legal structure or entity, or if we are acquired by, or merged into or with another entity, provided however, that those entities agree to be bound by the provisions of this Policy, with respective changes taken into consideration;</li>
			<li>We may also share Personal Information with companies or organizations connected, or affiliated with us and/or our Services, such as subsidiaries, affiliates, parent companies, service providers and other partners, with the express provision that their use of such information must comply with this Policy, in order to improve and provide the Services.</li>
			<li>We may also store and/or back up your comments (as defined on our Services) through third party storage providers.</li>
			</ol>
			</li>
			</ol>
			</li>
			<li><b>Choice/Opt-out Option</b><br/>
			We provide you with an opportunity to opt-out of having your Personal Information used for certain purposes, when we ask for this information.<br/>
			For example, if you no longer wish to receive our promotional communications, service related announcements and our account billing alerts, you may opt-out of receiving them by following the instructions included in each communication, by revising your personal settings page on the Website to opt-out.
			<p></p>
			<p></P>
			<p></p>
			</li>	
			</p>
			</div>
		</div>
</div>
{% endblock content %}